@model OutOfLensWebsite.Models.Data.Customer

@{
    ViewBag.Title = "Cadastro";
    Layout = "_AdminLayout";
}


<div id="content" style="width:100%;">


    <div class="container-fluid">

        @await Html.PartialAsync("Insertion/_Start")



        <div class="row d-flex justify-content-center mb-4" style="margin-top:3rem;">

            <div class="col-3">

                <h5 class="text-center my-3"> Informações do Cliente </h5>

            </div>

        </div>

        <div class="row d-flex justify-content-center pl-5">

            @* <form class="text-justify col-9 pr-5"> *@
            @using (Html.BeginForm("AddCustomer", "Admin"))
            {

                <div class="form-row">

                    <div class="form-group col-md-3 col-sm-12">
                        @Html.LabelFor(x => x.Name, "Nome")
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control"})
                        @* @Html.LabelFor(x => x.~, "~") *@
                        @* @Html.TextBoxFor(x => x.~, new { @class = "form-control"}) *@
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        @Html.LabelFor(x => x.SocialName, "Nome Social")
                        @Html.TextBoxFor(x => x.SocialName, new { @class = "form-control"})
                    </div>
                    <div class="form-group col-md-2 col-sm-12">
                        
                        @Html.LabelFor(x => x.Gender, "Sexo")

                        @Html.DropDownListFor(x => x.Gender, new[]
                        {
                            new SelectListItem("Feminino", "F"),
                            new SelectListItem("Masculino", "M"),
                        }, new {@class = "form-control"})

                    </div>
                    <div class="form-group col-md-2 col-sm-3">
                        @Html.LabelFor(x => x.Cpf, "CPF")
                        @Html.TextBoxFor(x => x.Cpf, new { @class = "form-control"})
                    </div>
                    <div class="form-group col-md-2 col-sm-3">
                        @Html.LabelFor(x => x.Rg, "RG")
                        @Html.TextBoxFor(x => x.Rg, new { @class = "form-control"})
                    </div>

                </div>

                <div class="form-row justify-content-center">

                    <div class="form-group col-md-2 col-sm-12">
                        @Html.LabelFor(x => x.BirthDate, "Data de Nascimento")
                        @Html.TextBoxFor(x => x.BirthDate, new { @class = "form-control", type = "date"})
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(x => x.Phone, "Telefone")
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control"})
                    </div>
                    <div class="form-group col-md-2">
                        @Html.LabelFor(x => x.CellPhone, "Celular")
                        @Html.TextBoxFor(x => x.CellPhone, new { @class = "form-control"})
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        @Html.LabelFor(x => x.Email, "Email")
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email"})
                    </div>

                </div>
                
                <div class="text-danger">
                    
                    @Html.ValidationSummary();
                    
                </div>
                
           <div class="col d-flex justify-content-center">
                <button class="btn btn-dark" type="submit"> Cadastrar </button>
            </div>

            }

        </div>

        <div class="row mt-5">

         
        </div>

    </div>

</div>