@using OutOfLensWebsite.Models.Data
@model OutOfLensWebsite.Models.Data.Package

@{
    ViewBag.Title = "Cadastro";
    Layout = "_AdminLayout";
}

<div id="content" style="width:100%;">


    <div class="container-fluid">

        @await Html.PartialAsync("Insertion/_Start")

        <div class="row d-flex justify-content-center mb-4" style="margin-top:3rem;">

            <div class="col-3">

                <h5 class="text-center my-3"> Informações do Pacote </h5>

            </div>

        </div>

        <div class="row d-flex justify-content-center">

                @using (Html.BeginForm("AddPackage", "Admin"))
                {
                    

                <div class="form-row justify-content-center">

                    <div class="form-group col-md-2 col-sm-12">
                    
                        @Html.LabelFor(x => x.Type)
                        @Html.DropDownListFor(x => x.Type, Package.GetTypes(new DatabaseConnection()))
                        
                    </div>
                    
                    <div class="form-group col-md-2 col-sm-12">

                        @Html.LabelFor(x => x.Quality, "Qualidade")
                        @Html.TextBoxFor(x => x.Quality, new {@class = "form-control"})
                        
                    </div>
                    
                    <div class="form-group col-md-2 col-sm-3">

                        @Html.LabelFor(x => x. Quantity, "Quantidade")
                        @Html.TextBoxFor(x => x. Quantity, new {@class = "form-control"})
                    </div>
                    
                    <div class="form-group col-md-2">
                        @Html.LabelFor(x => x.PhotoHeight, "Altura das fotos")
                        @Html.TextBoxFor(x => x.PhotoHeight, new {@class = "form-control", type  = "number"})
                    </div>
                    
                    <div class="form-group col-md-2">
                        @Html.LabelFor(x => x.PhotoWidth, "Largura das fotos")
                        @Html.TextBoxFor(x => x.PhotoWidth, new {@class = "form-control", type = "number"})
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputVal"> Valor </label>
                        <input type="number" class="form-control" id="inputVal" min="1" step=".50">
                    </div>

                </div>

                <div class="form-row justify-content-center">

                    <div class="form-group col-md-10">
                        @Html.LabelFor(x => x.Description, "Descrição")
                        @Html.TextAreaFor(x => x.Description, new {@class = "form-control"})
                    </div>
                    
                      <div class="form-group col-md-10">
                            <label for="inputObs"> Observação </label>
                            <textarea class="form-control" id="inputObs" rows="3"></textarea>
                        </div>


                </div>

                <div class="col d-flex justify-content-center">
                    <button class="btn btn-dark" type="submit"> Cadastrar </button>
                </div>
                }

        </div>

        <div class="row mt-5">



        </div>

    </div>

</div>
